body{

font-family:Arial;

width:250px;

background:#111827;

color:white;

text-align:center;

padding:20px;

}

button{

padding:10px;

background:#2563eb;

color:white;

border:none;

cursor:pointer;

width:100%;

margin-top:10px;

}

.container{

padding:10px;

}